* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #f0f0f0;
}

main {
  padding-top: 5em;
}

.container {
  background-color: white;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 24px 24px 100px 24px;
  padding: 4em 1.25em 3em;
}

#form {
  margin-bottom: 2.5em;
}

#form .error label {
  color: #ff5959;
}
#form .error input {
  border-color: #ff5959;
}

#form .error-message {
  font-weight: 400;
  font-style: italic;
  font-size: 8px;
  color: #ff5959;
  margin-top: 0.5em;
  height: 0;
}

.input-label,
input {
  font-weight: 700;
}
.input-label {
  color: #716f6f;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}

.input--container {
  display: flex;
  gap: 1em;
}

input {
  border: solid 1px #dcdcdc;
  width: 100%;
  padding: 0.75em 1em;
  border-radius: 12px;
}

button {
  background-color: #854dff;
  display: flex;
  padding: 1em;
  border-radius: 100%;
  margin: 0 auto;
  transform: translateY(50%);
  cursor: pointer;
}

button:hover {
  background-color: #151515;
}

button img {
  width: 24px;
  height: 24px;
}

hr {
  border: solid 1px #dcdcdc;
}

h1 {
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
  line-height: 1.25em;
}
.accent {
  color: #854dff;
}

@media (min-width: 700px) {
  .container {
    max-width: 840px;
  }

  .input--container {
    width: 80%;
  }

  .input-label {
    font-size: 14px;
  }

  input {
    padding: 0.5em 1em;
    font-size: 32px;
  }

  button {
    padding: 2em;
    margin-left: auto;
    margin-right: 0;
  }

  button img {
    width: 44px;
    height: 44px;
  }

  h1 {
    font-size: 104px;
  }
}
